.footer {
    background-color: #b6b4b4;
    border-radius: 6px;
    color: #fff;
    font-size: 0.85rem;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
