html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    max-width: 500px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #f7f7f9;
    color: #222;
}

